/*Sara Liang's 20190911_S5_A19_為動態網頁加上事件_Todo List*/


/** 
 * Homepage Style
 * Standard Layout (all parts) for Little Homepage
 * @author SaraLiang
 * @copyright 2019 by the author
 *
 */
.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li>label[for='todo'] {
  width: 210px;
}

li>label[for='down'] {
  color: #c0c0c0;
  text-align: left;
}

li>label[for='down']:before {
  content: "\2611";
  color: #c0c0c0;
}