/*Sara Liang's 0190909_S5_A15 DOM 操作上手_Q2 找出得分王*/


/** 
 * Homepage Style
 * Standard Layout (all parts) for Little Homepage
 * @author SaraLiang
 * @copyright 2019 by the author
 *
 */

.fa {
  padding: 5px;
  font-size: 14px;
  color: #61CECD;
}