/*Sara Liang's S4_A14 【挑戰題】個人網站 RWD 版\css*/


/** 
 * Homepage Style
 * Standard Layout (all parts) for Little Homepage
 * @author SaraLiang
 * @copyright 2019 by the author
 *
 */

html,
body {
	width: 100%;
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
}

ul,
ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.wrapper {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 1170px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

p {
	color: #767676;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 14px;
}

h2 {
	padding: 50px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h3 {
	font-size: 26px;
	margin-left: 15px;
	margin-top: 12px;
	text-transform: capitalize;
	margin: 10px 0px;
}

h4 {
	font-size: 18px;
	padding: 5px 0;
	text-transform: capitalize;
}

h5 {
	/******Hello ******/
	padding: 10px 0;
	font-size: 15px;
	letter-spacing: 2px;
	margin-top: 6px;
	margin-bottom: 6px;
	text-transform: capitalize;
}

input,
textarea {
	font-family: 'Montserrat', sans-serif;
}

section:first-child {
	padding: 0px;
}

section:nth-child(2) {
	padding: 0px 0px 30px 0px;
}

section {
	padding: 30px 0px;
}


/*******全站共用按鈕樣式******/

.all_btn {
	background: #fff;
	color: #000;
	display: block;
	text-transform: capitalize;
	display: inline-block;
	text-decoration: none;
}

.all_btn ul,
li {
	margin: 15px 0px;
}


/***********************************************/


/***********************************************/


/******************內頁內容開始******************/


/***********************************************/


/***********************************************/

.bgblack {
	width: 100%;
	background-color: #222;
	z-index: 999;
	display: fixed;
}

#header {
	width: 100%;
	background-color: #222;
	z-index: 100;
}

.menubar {
	width: 100%;
}

.menubar img {
	width: auto;
}

.menubar ul {
	list-style-type: none;
	text-align: center;
	line-height: 40px;
	margin: 0px;
}

.menubar ul li {
	display: inline;
	/*讓ul/li橫向設定*/
	margin: 0px 10px 0px 10px;
}

.menubar a:link,
.menubar a:visited,
.menubar a:active {
	color: #FFF;
	text-decoration: none;
	width: auto;
}


/******Mycover******/

.mycover {
	position: relative;
	width: 100%;
	height: 100%;
}

.home_bg {
	background-image: url('../images/profile.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	height: 100%;
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

.mycover h1 {
	color: #fff;
	font-size: 54px;
}

.community_icon {
	color: #fff;
	display: inline-block;
	line-height: 40px;
	font-size: 30px;
	padding: 20px 0;
}

.community_icon a:link,
.community_icon a:visited,
.community_icon a:active {
	color: #fff;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
}

.service_icon {
	font-size: 30px;
	padding: 20px 0;
}

.whatioffer {
	padding: 100px 0 100px 0;
	margin: 20px 0 20px 0;
	background-color: #f9f9f9;
}

.resume h7 {
	font-size: 16px;
	padding: 5px 0;
	text-transform: capitalize;
}

.marked {
	padding: 2px;
	background-color: #000;
	color: #FFF;
	margin-bottom: .5rem;
}

hr.hr_line {
	border-top: 1px solid #000;
	text-align: center;
}

.quotes_bg {
	background-image: url('../images/abg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	height: 150px;
}

.quotes_btn a {
	color: #fff;
	display: block;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px 38px;
	text-transform: capitalize;
	margin: 5px 0;
	text-decoration: none;
}

.quotes_btn a:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-decoration: none;
}

.quotes h3 {
	color: #fff;
	margin: 5px 0;
}

.quotes p {
	color: #fff;
}

.portfolio a {
	display: block;
	margin: 13px 0;
	position: relative;
	top: 0;
	left: 0;
}

.portfolio a:hover {
	box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
	/* box-shadow後面的 5 個數值分別是設定：水平陰影位移、垂直陰影位移、陰影模糊程度、陰影的範圍大小，最後一個是陰影的顏色。*/
	top: -5px;
	-webkit-transition: all .2s linear;
	/*Google Chrome 及 Safari轉場效果*/
	-moz-transition: all .2s linear;
	/*FireFox轉場效果*/
	-ms-transition: all .2s linear;
	/*Google Chrome 及 Safari轉場效果*/
	-o-transition: all .2s linear;
	/*Internet Explorer轉場效果*/
	transition: all .2s linear;
	/*其他瀏覽器轉場效果*/
}

.contact {
	padding: 50px 0px;
}

.contact-form {
	margin: 0 auto;
	text-align: center;
}

.contact-form .form-input:first-child,
.contact-form .form-input:nth-child(2). .form-input:nth-child(3) {
	padding: 0 15px;
}

.contact-form input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #333;
	text-transform: capitalize;
	padding-bottom: 19px;
	margin-bottom: 12px;
	outline: none;
	font-family: 'Noto Sans TC';
}

.contact textarea {
	width: 100%;
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	font-family: 'Noto Sans TC';
}

.contact button {
	margin: 50px;
	padding: 20px 40px;
}

.footer {
	background-color: #000;
	color: #FFF;
	font-size: 12px;
	padding: 60px 60px;
}