/*20190820_全域設定之CSS設定 By:SaraLiang 20190820*/


/** 
 * Homepage Style
 * Standard Layout (all parts) for Little Homepage
 * @author SaraLiang
 * @copyright 2019 by the author
 *
 */

html,
body {
	width: 100%;
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p ,
{
	margin: 0px;
	padding: 0px;
}

ul,
ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a,
a:hover,
a:focus {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.container {
	width: 85%;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

p {
	color: #767676;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

h2 {
	margin: 75px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h5 {
	/******Hello ******/
	font-size: 15px;
	letter-spacing: 2px;
	margin-top: 6px;
	margin-bottom: 6px;
	text-transform: capitalize;
}

input,
textarea {
	font-family: 'Montserrat', sans-serif;
}

/*******全站共用按鈕樣式******/

.all_btn a {
	background: #fff;
	color: #000;
	display: block;
	border: 1px solid #333;
	border-radius: 10px;
	padding: 10px 38px;
	text-transform: capitalize;
	display: inline-block;
	margin-right: 18px;
	margin: 10px 0 10px 0px;
}

.all_btn a:hover {
	background: #000;
	color: #fff;
	-webkit-transition: all .4s linear;
	/*Google Chrome 及 Safari轉場效果*/
	-moz-transition: all .4s linear;
	/*FireFox轉場效果*/
	-ms-transition: all .4s linear;
	/*Google Chrome 及 Safari轉場效果*/
	-o-transition: all .4s linear;
	/*Internet Explorer轉場效果*/
	transition: all .4s linear;
	/*其他瀏覽器轉場效果*/
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}


/******************內頁內容開始******************/


/*Header 之CSS設定 By:SaraLiang 20190820*/


/*指定id使用#符號*/


/*指定class使用.符號*/


/*Header 內的LOGO+選單列表設定*/

#header {
	position: fixed;
	width: 100%;
	background-color: #222;
	z-index: 100;
}

.menubar {
	width: 100%;
}

.menubar img {
	float: left;
	width: auto;
}

.menubar ul {
	list-style-type: none;
	text-align: center;
	line-height: 40px;
	padding: : 0px 10px 0px 10px;
}

.menubar ul li {
	display: inline;
	/*讓ul/li橫向設定*/
	margin: 0px 10px 0px 10px;
}

.menubar a:link,
.menubar a:visited,
.menubar a:active {
	color: #FFF;
	text-decoration: none;
	width: auto;
}

.menubar_menu {
	float: right;
}

.clearfix {
	clear: both;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}


/*設定所有section的padding*/

section {
	padding: 100px 0;
}


/******Mycover******/

.mycover {
	padding-top: 40px;
	position: relative;
	width: 100%;
	height: 100%;
}

.home_bg {
	background-image: url('../images/profile.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	height: 100%;
}

.mycover_outside {
	/*以TABLE形式做出垂直置中，此為TABLE外框*/
	display: table;
	width: 100%;
	height: 100%;
}

.mycover_inside {
	/*以TABLE形式做出垂直置中，此為TABLE內容*/
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.mycover h1 {
	color: #fff;
	font-size: 54px;
}

.community_icon {
	color: #fff;
	display: inline-block;
	line-height: 40px;
	font-size: 19px;
	margin-right: 7px;
}

.community_icon a:link,
.community_icon a:visited,
.community_icon a:active {
	color: #fff;
	margin: 0px 10px 0px 10px;
}


/******About ME ******/

.aboutme_col-left {
	float: left;
	position: relative;
	width: 50%;
	padding: 0 15px;
}

.aboutme_col-right {
	float: right;
	position: relative;
	width: 50%;
	padding: 0 15px;
	line-height: 24px;
	text-align: justify;
	display: inline-block;
}

.aboutme_skill {
	margin: 30px auto;
}

.aboutme_skill li {
	font-size: 15px;
	line-height: 35px;
	text-transform: capitalize;
}

.button-group a:link,
.aboutme_skill a:visited,
.aboutme_skill a:active {
	background: #FFF;
	color: #000;
}


/******What i offer******/

.whatioffer {
	padding: 100px 0 100px 0;
	margin: 20px 0 20px 0;
	background-color: #f9f9f9;
}

.whatioffer_content {
	width: 100%;
}


/*在此三欄相距不可用margin,因為 border-box 會讓 width 作用到 border 上，
而 padding 在 border 的內側，所以 padding 的變化不會影響到元素佔用的區域，
反之，增加 margin 會讓佔用區域變大，超過 100% 的部分就會被擠到下一排。*/

.offer-col {
	width: 33.33333%;
	float: left;
	padding: 0 15px;
}

.offer-col p {
	color: #767676;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.offer-col h5 {
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 13px;
	margin-bottom: 8px;
	text-transform: capitalize;
}

.offer-col i {
	font-size: 30px;
	line-height: 46px;
}


/*學習章節重點註記：
名稱命名：根據 horizontal X-axis,vertical Y-axis，class命名：col-h表示水平列，col-v表示垂直行
設定樣式：col-h預設皆有底線，但last-child偽類別子項目＿沒有底線
特殊對象有 - :first-child、 :last-child、 :nth-child可供使用，本次使用last-child，同理，first-child也會常見
::after 也是偽元素特殊使用方式
加一個冒號 (:) 的是 pseudo-classes；加兩個冒號 (::) 的是 pseudo-elements。*/

.resume h3 {
	font-size: 20px;
	margin-left: 15px;
	margin-top: 12px;
	text-transform: capitalize;
}

.resume_col-v {
	float: left;
	width: 50%;
	padding: 0 15px;
}

.resume_col-h {
	padding-bottom: 16px;
	border-bottom: 1px solid #767676;
}

.resume_col-h:last-child {
	border-bottom: 0;
}

.resume_year {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding: 4px 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.resume_year h4 {
	font-size: 16px;
	line-height: 30px;
	text-transform: capitalize;
}

.resume_year h7 {
	font-size: 12px;
	margin-bottom: 9px;
	text-transform: capitalize;
}

.resume_year p {
	line-height: 22px;
}

.quotes_bg {
	background-image: url('../images/abg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	height: 100%;
}

.quotes_outside {
	/*以TABLE形式做出垂直置中，此為TABLE外框*/
	display: table;
	width: 100%;
	height: 100%;
}

.quotes_inside {
	/*以TABLE形式做出垂直置中，此為TABLE內容*/
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.quotes h3 {
	font-size: 20px;
	margin-left: 15px;
	margin-top: 12px;
	text-transform: capitalize;
	color: #FFF;
}

.quote_btn a {
	color: #fff;
	display: block;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px 38px;
	text-transform: capitalize;
	display: inline-block;
	margin-right: 18px;
	margin: 10px 0 10px 0px;
}

.quotes_inside p {
	color: #fff;
	font-size: 14px;
	margin-top: 12px;
}

.work-item {
	width: 33.33333%;
	float: left;
	padding: 15px;
}


/*inline 吃不到下方邊界的屬性，所以需要把排列方式改成 block。並增加a:hover的陰影特效*/

.work-item a {
	display: block;
	margin-bottom: 14px;
	position: relative;
	top: 0;
	left: 0;
}

.work-item a:hover {
	box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
	/* box-shadow後面的 5 個數值分別是設定：水平陰影位移、垂直陰影位移、陰影模糊程度、陰影的範圍大小，最後一個是陰影的顏色。*/
	top: -5px;
	-webkit-transition: all .2s linear;
	/*Google Chrome 及 Safari轉場效果*/
	-moz-transition: all .2s linear;
	/*FireFox轉場效果*/
	-ms-transition: all .2s linear;
	/*Google Chrome 及 Safari轉場效果*/
	-o-transition: all .2s linear;
	/*Internet Explorer轉場效果*/
	transition: all .2s linear;
	/*其他瀏覽器轉場效果*/
}



.contact-form {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.contact-form .form-input:first-child,
.contact-form .form-input:nth-child(2) {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.contact-form .form-input:nth-child(3) {
  width: 100%;
  padding: 0 15px;
}

.contact-form input.form-style {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  text-transform: capitalize;
  padding-bottom: 19px;
  margin-bottom: 12px;
  outline: none;
}

.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}

.form-submit {
  text-align: left;
  padding: 0 15px;
}


.form-submit input {
  font-size: 16px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 15px 60px;
  margin-top: 16px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.form-submit input:hover {
  background-color: #000;
  color: #fff;
}






.footer{
	background-color: #000;
	color: #FFF;	
	  font-size: 12px;
	    padding: 15px 60px;
}


.footer_outside{
	display: table;
	width: 100%;
	height: 100%;
}
.footer_inside{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.footer_copyright{
	width: 100%;
	height: 100%;
}

.footer_community{
	width: 100%;
	height: 100%;
}